@{
    ViewData["Title"] = "Home Page";
}

   <form action="https://localhost:5001/home/Addition" method="GET">
       <input name="num1" id="actionget" type="text"/>
       <input name="num2" id="actionget" type="text"/>
       <button>+</button>
   </form>
    <form action="https://localhost:5001/home/Subtraction" method="GET">
       <input name="num1" id="actionget" type="text"/>
       <input name="num2" id="actionget" type="text"/>
       <button>-</button>
   </form>
    <form action="https://localhost:5001/home/Multiplication" method="GET">
       <input name="num1" id="actionget" type="text"/>
       <input name="num2" id="actionget" type="text"/>
       <button>*</button>
   </form>
    <form action="https://localhost:5001/home/Division" method="GET">
       <input name="num1" id="actionget" type="text"/>
       <input name="num2" id="actionget" type="text"/>
       <button>/</button>
   </form>
   <form action="https://localhost:5001/home/Bhaskara" method="GET">
       <input name="num1" id="actionget" type="text"/>
       <input name="num2" id="actionget" type="text"/>
       <input name="num3" id="actionget" type="text"/>
       <button>Bhaskara</button>
   </form>

